/** 
	
	Sass Heading Sizes
	Developed by @troutacular (https://github.com/troutacular/sass-heading-sizes
	Created: 2015-01-25
	Last update: 2015-01-25
	Version: 1.0
	License: MIT (http://opensource.org/licenses/mit-license.html))

**/


// Set the default variables
	
	// support for ie8
	$ie8: false !default;
	
	// base font size in pixels
	$base-font: 16 !default;

// end defaults


@mixin heading-decrement($heading-size: 2.5, $decrement: 0.25, $unit: rem){
	@each $h in h1, h2, h3, h4, h5, h6 {
		#{$h} {
			@if $ie8 == true {
				@if $unit == 'rem' {
					font-size: $heading-size * $base-font + px;
				}
				@else if $unit == 'px' {
					font-size: $heading-size + px;
				}
			}
			@if $unit == 'px' {
				font-size: $heading-size / $base-font + rem;
			}
			@else {
				font-size: $heading-size + $unit;
			}
		}
		$heading-size: $heading-size * (1 - $decrement);
	}
}

@mixin heading-increment($heading-size: 2.5, $increment: 0.25, $unit: rem){
	@each $h in h6, h5, h4, h3, h2, h1 {
		#{$h} {
			@if $ie8 == true {
				@if $unit == 'rem' {
					font-size: $heading-size * $base-font + px;
				}
				@else if $unit == 'px' {
					font-size: $heading-size + px;
				}
			}
			@if $unit == 'px' {
				font-size: $heading-size / $base-font + rem;
			}
			@else {
				font-size: $heading-size + $unit;
			}
		}
		$heading-size: $heading-size * (1 + $increment);
	}
}

@mixin heading-decrement-fixed($heading-size: 2.5, $decrement: 0.25, $unit: rem){
	@each $h in h1, h2, h3, h4, h5, h6 {
		#{$h} {
			@if $ie8 == true {
				@if $unit == 'rem' {
					font-size: $heading-size * $base-font + px;
				}
				@else if $unit == 'px' {
					font-size: $heading-size + px;
				}
			}
			@if $unit == 'px' {
				font-size: $heading-size / $base-font + rem;
			}
			@else {
				font-size: $heading-size + $unit;
			}
		}
		$heading-size: $heading-size - $decrement;
	}
}

@mixin heading-increment-fixed($heading-size: 2.5, $increment: 0.25, $unit: rem){
	@each $h in h6, h5, h4, h3, h2, h1 {
		#{$h} {
			@if $ie8 == true {
				@if $unit == 'rem' {
					font-size: $heading-size * $base-font + px;
				}
				@else if $unit == 'px' {
					font-size: $heading-size + px;
				}
			}
			@if $unit == 'px' {
				font-size: $heading-size / $base-font + rem;
			}
			@else {
				font-size: $heading-size + $unit;
			}
		}
		$heading-size: $heading-size + $increment;
	}
}